server:
  port: 8079
spring:
  application:
    name: authentication-service

  datasource:
    url: jdbc:mysql://localhost:3306/sistema_almacen?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: Developer123.

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  logging:
    level:
      org.springframework.security: INFO
      com.arka.authentication_service: DEBUG
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE

jwt:
    secret-key:  6IjGfzxL2HkVz2/ejQ9tNj3YjwX2DPFNUKOSqEM7g6I=
    expiration: 3600000